<div class="au-accordion-group__controls">
    <button class="au-accordion-group__control" onclick="return AU.accordion.Open(document.querySelector('#accordion-group-1').getElementsByClassName('js-au-accordion'))">Open all</button>
    <button class="au-accordion-group__control" onclick="return AU.accordion.Close(document.querySelector('#accordion-group-1').getElementsByClassName('js-au-accordion'))">Close all</button>
</div>

<ul class="au-accordion-group{{# if modifier }} {{ modifier }}{{/ if }}" id="accordion-group-1">
  <li>
    <section class="au-accordion">
      <button class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-1-1"
        aria-expanded="false" onclick="return AU.accordion.Toggle( this )">
        {{ accordion.title }}
      </button>

      <div class="au-accordion__body au-accordion--closed" id="accordion-1-1">
        <div class="au-accordion__body-wrapper">
          {{{ accordion.content }}}
        </div>
      </div>
    </section>
  </li>
  <li>
    <section class="au-accordion">
      <button class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-1-2"
        aria-expanded="false" onclick="return AU.accordion.Toggle( this )">
        {{ accordion.title }}
      </button>

      <div class="au-accordion__body au-accordion--closed" id="accordion-1-2">
        <div class="au-accordion__body-wrapper">
          {{{ accordion.content }}}
        </div>
      </div>
    </section>
  </li>
  <li>
    <section class="au-accordion">
      <button class="au-accordion__title js-au-accordion au-accordion--closed" aria-controls="accordion-1-3"
        aria-expanded="false" onclick="return AU.accordion.Toggle( this )">
        {{ accordion.title }}
      </button>

      <div class="au-accordion__body au-accordion--closed" id="accordion-1-3">
        <div class="au-accordion__body-wrapper">
          {{{ accordion.content }}}
        </div>
      </div>
    </section>
  </li>
</ul>