{{ render '@skip' }}

{{ render '@release-status--launch' }}

<div class="au-body">

  {{ render '@header' }}
  {{> @sub-header }}
  {{ render '@toolbar' }}

  <div class="container not-full-width">

    <div class="row">

      <div class="col-sm-8">
        <p>Your feedback comments are covered by our privacy policy.</p>

        <form class="au-form">

          {{#if error}}
            <div class="au-page-alerts au-page-alerts--error">
              <h2 class="au-display-md">Please fix the following errors</h2>
              <ul>
                <li>{{checkboxes.label}} field is required.</li>
                <li>{{textArea.label}} field is required.</li>
                <li>{{textInput.label}} field is required.</li>
              </ul>
            </div>
          {{/if}}

          {{> @radios }}

          {{> @checkboxes }}

          {{> @select }}

          {{> @text-area--counter }}

          {{> @text--counter }}

          <div class="au-form__item">
            {{> @button }}
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

{{ render '@footer' }}

{{> @back-to-top }}