{{ render '@header' }}
{{ render '@main-nav' }}
{{> @sub-header }}
{{ render '@toolbar' }}

<div class="container not-full-width">

  <div class="row">
    <div class="col-sm-8">

      {{ render '@inpage-nav' }}

      <h2 id="the-public-interest-disclosure-act">The Public Interest Disclosure Act</h2>
      <p>The <a href="https://www.legislation.gov.au/Details/C2019C00026">Public Interest Disclosure Act 2013</a> (the Act) aims to make the Commonwealth public sector more accountable and promote integrity.</p>
      <p>The Act:</p>
      <ul>
        <li>encourages public officials to report suspected wrongdoing in the public sector</li>
        <li>protects those who make disclosures from negative consequences (such as bullying and harassment)</li>
        <li>makes sure disclosures are properly investigated</li>
      </ul>

      <h2 id="what-can-you-disclose">What can you disclose?</h2>
      <p>Disclosable conduct includes conduct that:</p>
      <ul>
        <li>is against a law</li>
        <li>is corrupt</li>
        <li>wastes public funds or property</li>
        <li>abuses public trust</li>
        <li>unreasonably endangers health, safety and the environment</li>
        <li>is unjust, oppressive or negligent</li>
      </ul>
      <p>It also includes misconduct related to scientific research, analysis or advice.</p>

      {{ render '@video' }}

      <h2 id="who-can-make-a-disclosure">Who can make a disclosure?</h2>
      <p>Any current or former public official can make a disclosure.</p>
      <p>Public officials include:</p>
      <ul>
        <li>Australian Government public servants and parliamentary service employees</li>
        <li>members of the Defence force</li>
        <li>staff and directors of Commonwealth companies</li>
        <li>statutory office holders</li>
        <li>staff of service providers under contract to the Commonwealth</li>
      </ul>

      {{ render '@figure' }}

    </div>

    <div class="col-sm-4">
      <p>Menu</p>
    </div>
  </div>
</div>
