<div class="health-card health-card--clickable health-card--shadow {{class}}">
  {{! <div class="health-card__header">
    <p>Header</p>
  </div> }}
  <div class="health-card__body">
    <h2 class="health-card__title">
      <a class="health-card__link" href="#">{{title}}</a>
    </h2>
    <div class="health-card__text">
      <p>{{content}}</p>
    </div>
    <div class="health-card__date">{{date}}</div>
    <div class="health-card__tag">{{tag}}</div>
  </div>
  {{! <div class="health-card__footer">
    <p>Footer</p>
  </div> }}
</div>