{{ render '@skip' }}

<div class="au-body">
  {{ render '@header--campaign' }}
  {{> @sub-header--campaign }}

  <div class="container-fluid full-width">
    <div class="row">
      {{ render '@band--featured' }}
      {{ render '@band--hotline' }}
      {{ render '@band--video-listing' }}
    </div>
  </div>

  {{ render '@something-wrong' }}

</div>

{{ render '@footer' }}

{{> @back-to-top }}
