<!DOCTYPE html>
<html>
<head class="no-js">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block styles %}
    <link media="all" rel="stylesheet" href="{{ '/build/css/hds-all.css'|path }}">
    <link media="all" rel="stylesheet" href="{{ '/build/js/libraries/jquery.fancybox.min.css'|path }}">
  {% endblock %}
  {% block scripts %}
    <script src="{{ '/build/js/libraries/jquery.min.js'|path }}"></script>
    <script src="{{ '/build/js/libraries/jquery-ui.min.js'|path }}"></script>
    <script src="{{ '/build/js/libraries/jquery.fancybox.min.js'|path }}"></script>
    <script src="{{ '/build/js/libraries/jquery.once.min.js'|path }}"></script>
    <script src="{{ '/build/js/libraries/lazyload.min.js'|path }}"></script>
    <script src="{{ '/build/js/libraries/tippy.all.min.js'|path }}"></script>
    <script src="{{ '/build/js/libraries/anchorific.min.js'|path }}"></script>
    <script src="{{ '/data.js' }}"></script>
    <script src="{{ '/build/js/hds.js' }}"></script>
  {% endblock %}
  <title>Preview Layout</title>
</head>
<body class="au-body au-grid">
<div class="container not-full-width">
  <div class="row">
    <div class="col-xs-12">
      {{ yield }}
    </div>
  </div>
</div>
</body>
</html>
