<header class="au-header pillars-container" role="banner">
  <div class="container">
    <div id="pillars"></div>
    <div class="row">
      <div class="col-sm-6">
        <a class="au-header__logo" href="#" title="Home" rel="home">
          <img class="au-header__logo-image"  src="{{path '/images/{{ image }}'}}"
               alt="Australia Government Department of Health"
               class="au-header__logo-image au-responsive-media-img"
               width="600" height="146">
        </a>
        <a href="#" class="au-header__brand"></a>
          <div class="au-header__text">
            <p class="au-header__heading">Site title with some words to span multiple lines</p>
          </div>
        </a>
      </div>
      <div class="col-sm-6">
        {{ render '@sub-nav' }}
        {{ render '@search' }}
      </div>
    </div>
  </div>
</header>

{{ render '@main-nav' }}