<div class="health-band {{#if modifier}}health-band--{{ modifier }}{{/if}}">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <h2>
          {{{ title }}}
        </h2>
        <p>
          {{{ content }}}
        </p>
      </div>

      <div class="col-xs-12 col-sm-9">
        <div class="row">
          <ul class="health-card-list">
            <li class="col-xs-12 col-sm-6">
              {{ render '@card--simple' }}
            </li>          
            <li class="col-xs-12 col-sm-6">
              {{ render '@card--simple' }}
            </li>     
            <li class="col-xs-12 col-sm-6">
              {{ render '@card--simple' }}
            </li>     
            <li class="col-xs-12 col-sm-6">
              {{ render '@card--simple' }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
