<div class="health-band">
  <div class="health-band__container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{title}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        {{render "@card--no-image"}}
      </div>
      <div class="col-sm-6">
        {{render "@card--no-image"}}
      </div>
      <div class="col-sm-6">
        {{render "@card--no-image"}}
      </div>
      <div class="col-sm-6">
        {{render "@card--no-image"}}
      </div>
    </div>
    <div class="row standard-gap">
      <div class="col-xs-12 text--align-right">
        <a href="#" class="au-cta-link">View more resources</a>
      </div>
    </div>
  </div>
</div>