<ul class="health-listing">
  <li>
    {{ render '@listing-video' }}
  </li>
  <li>
    {{ render '@listing-publication' }}
  </li>
  <li>
    {{ render '@listing-video' }}
  </li>
  <li>
    {{ render '@listing-publication' }}
  </li>
  <li>
    {{ render '@listing-video' }}
  </li>
  <li>
    {{ render '@listing-publication' }}
  </li>
  <li>
    {{ render '@listing-video' }}
  </li>
  <li>
    {{ render '@listing-publication' }}
  </li>
  <li>
    {{ render '@listing-video' }}
  </li>
  <li>
    {{ render '@listing-publication' }}
  </li>
</ul>