<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ path '/dist/hds-all.min.css' }}">
  <link media="all" rel="stylesheet" href="{{ path '/js/libraries/jquery.fancybox.min.css' }}">
  <script src="{{ path '/js/libraries/jquery.min.js' }}"></script>
  <script src="{{ path '/js/libraries/jquery-ui.min.js' }}"></script>
  <script src="{{ path '/js/libraries/jquery.fancybox.min.js' }}"></script>
  <script src="{{ path '/js/libraries/lazyload.min.js' }}"></script>
  <script src="{{ path '/dist/hds.min.js' }}"></script>
  <title>Preview Layout</title>
</head>
<body class="au-body au-grid">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      {{{ yield }}}
    </div>
  </div>
</div>
</body>
</html>