<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link media="all" rel="stylesheet" href="{{ path '/build/css/hds-all.min.css' }}">
  <link media="all" rel="stylesheet" href="{{ path '/build/js/libraries/jquery.fancybox.min.css' }}">
  <script src="{{ path '/build/js/libraries/jquery.min.js' }}"></script>
  <script src="{{ path '/build/js/libraries/jquery-ui.min.js' }}"></script>
  <script src="{{ path '/build/js/libraries/jquery.fancybox.min.js' }}"></script>
  <script src="{{ path '/build/js/libraries/lazyload.min.js' }}"></script>
  <script src="{{ path '/build/js/hds.min.js' }}"></script>
  <title>Preview Layout</title>
</head>
<body class="au-grid">
  {{{ yield }}}
</body>
</html>