{{ render '@skip' }}

<div class="au-body">
  {{ render '@header--nst' }}
  {{ render '@hero' }}

  <div class="container-fluid full-width">
    <div class="row">
      {{ render '@band--dispute-resolution' }}
      {{ render '@band--nst-primary' }}
      {{ render '@band--nst-secondary' }}
      {{ render '@band--cards-image-no-bg' }}
    </div>
  </div>

  {{ render '@something-wrong' }}

</div>

{{ render '@footer' }}

{{> @back-to-top }}
