{{ render '@skip' }}

{{ render '@release-status--launch' }}

<div class="au-body">

  {{ render '@header' }}
  {{> @sub-header }}

  <div class="container not-full-width">
    <div class="row">

      <div class="col-sm-4 col-md-3">
        {{ render '@filter' }}
        {{ render '@facet' }}
        {{ render '@facet' }}
        {{ render '@facet' }}
        {{ render '@facet' }}
      </div>

      <div class="col-sm-8 col-md-9">

        <div class="row">

          <div class="col-md-3 col-xs-12 standard-gap--mobile-only">
            <span class="au-display-xl au-display--inline">517</span> results
          </div>
          <form class="col-sm-8 col-md-9">
            {{> @search }}
          </form>

          <div class="col-xs-12 standard-gap">
            <span>Filters applied:</span>
            <ul class="au-tags au-tags--inline">
              <li>
                <a href="#">General public
                  <span class="svg-inline--fa fa-fw">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z"></path></svg>
                  </span>
                </a>
              </li>
            </ul>
            <a href="#">Clear all</a>
          </div>
        </div>

        {{ render '@listing' }}
        {{ render '@pager' }}
      </div>

    </div>
  </div>

  {{ render '@something-wrong' }}

</div>

{{ render '@footer' }}

{{> @back-to-top }}